@page "/codeChallengeHome"

@if (isChallengeSucceed)
{
    <div class="blink_me">
        <MatH3 Style="color:blue">Success!</MatH3>
    </div>
}
@if (isChallengeFail)
{
    <div class="blink_me">
        <MatH3 Style="color: red">Fail!</MatH3>
    </div>
}
@if (!isChallengeReady)
{
<div style="margin-left:auto; margin-right:auto">
    <MatH4 class="text-center">Loading challenges</MatH4>
    <SpinKitFadingCircle />
    <div class="mainIcon fade-in" style="background-image: url('Icons/challengeIcon.png')"></div>
    
</div>
}
@if (isChallengeReady)
{
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                <ChallengeSelect CodeChallenges="CodeChallenges" OnChallengeChanged="HandleChallengeChanged" />
            </div>

            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-8">
                @if (!takeChallenge && SelectedChallenge == null)
                {
                    <div class="mainIcon" style="background-image: url('Icons/challengeIcon.png')"></div>
                }
                @if (!takeChallenge && SelectedChallenge != null)
                {
                    <div class="text-center">
                        <MatH5>@SelectedChallenge.Name</MatH5>
                    </div>
                    <ChallengeInfo IsUserComplete="@SelectedChallenge.UserCompleted" description="@SelectedChallenge.Description" examples="@SelectedChallenge.Examples" /><br />
                    <MatButton Raised="true" Label="Solve" OnClick="SolveChallenge"></MatButton>
                }
                @if (isCodeCompiling)
                {
                    <hr />
                    <MatH4 Class="text-center" Style="color:blue">Executing...</MatH4>
                    <SpinKitFadingCircle />
                }
                @if (takeChallenge)
                {
                    <MatButton Style="font-size:.7em" @onclick="ShowAnswer">Give Up? Get a solution</MatButton><br />
                    <MonacoEdit OnSaveUserSnippet="HandleSaveSnippet" OnCodeSubmit="SubmitCode" CodeSnippet="@CodeEditorService.CodeSnippet" ButtonLabel="Submit Solution"></MonacoEdit>
                  
                }
            </div>
        </div>
    </div>
   
   
}


