@page "/razorHome"
@layout MainLayout
<MatH4 Class="text-center">Build a project with Razor Components</MatH4>
<MatButton Link="/">Home</MatButton>
@*<button @onclick="@(() => isready = true)">Ready</button>*@
@if (isready)
{
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                <MatButton OnClick="ExecuteProject" Raised="true">Execute Project</MatButton>
                <MatButton OnClick="LoadSampleProject">Sample Project</MatButton>
                <MatButton OnClick="SelectSampleSnippet">Sample Components</MatButton>
                <MatButton OnClick="UpdateFromPublicRepo">Get From Repo</MatButton>
                <MatButton OnClick="@(async () => await AddCodeFile())">Start New Component</MatButton>
                <MatButton OnClick="SelectActiveFile">Select and Modify Component</MatButton>
                @if (AppStateService.HasUser)
                {
                    <MatButton OnClick="CreateProject">Create Project</MatButton>
                    <MatButton OnClick="SaveProject">Save Project</MatButton>
                    <MatButton OnClick="SelectActiveProject">Load Project</MatButton>
                }
               
            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                @if (isCSharp)
                {
                    <MonacoEdit ButtonLabel="Save To Project" CodeSnippet="@CodeEditorService.CodeSnippet" OnSaveUserSnippet="HandleSave" Language="csharp" OnCodeSubmit="HandleSaveToProject"></MonacoEdit>
                }
                else
                {
                    <MonacoEdit ButtonLabel="Save To Project" CodeSnippet="@CodeEditorService.CodeSnippet" OnSaveUserSnippet="HandleSave" Language="@language" OnCodeSubmit="HandleSaveToProject"></MonacoEdit>
                }

            </div>
            <div class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <MatH5>Active Component: @CodeEditorService.ActiveProjectFile.Path</MatH5>
                @if (isCodeCompiling)
                {
                    <hr />
                    <MatH4 Class="text-center" Style="color: blue">Executing...</MatH4>
                    <SpinKitFadingCircle />
                    <hr />
                }
                <iframe style="height: 500px; width: 100%" id="user-page-window" src="/defaultOutput"></iframe>

            </div>
            <div id="user-page-window-container" class="mat-layout-grid-cell mat-layout-grid-cell-span-6">
                <button class="mat-elevation-z24 output-button @buttonCss" @onclick="ShowDiags">Click to view compilation errors.</button>
               

            </div>

        </div>
    </div>
  
}

